.topImage {
    grid-area:topImage;
    padding:10px;
    border:1px solid black;
}

.leftSection {
    grid-area: leftSection;
    padding:10px;
    border:1px solid black;
}

.rightSection {
    grid-area: rightSection;
    padding:10px;
    border:1px solid black;
}

.container {
    display:grid;
    grid-template-columns: 200px 1fr 1fr 1fr 1fr 200px;
    column-gap: 10px;
    row-gap: 15px;
    grid-template-rows: auto;
    justify-items: center;
    grid-template-areas:
        " . topImage topImage topImage topImage . "
        " . topImage topImage topImage topImage . "
        " . topImage topImage topImage topImage . "
        "leftSection leftSection leftSection rightSection rightSection rightSection";
}
table, th, td {
    border:1px solid black;
    border-collapse: collapse;
}
table {
    margin:auto;
}
th, td {
    text-align: center;
    width:300px;
    height:50px;
}
td {
    color:white;
}
th {
    background-color: #33989e;
}

ul {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:#3f99a5;
}

#ctaButton > a{
    width:250px;
    margin:auto;
    border:1px solid black;
    padding:15px;
    background-color:black;
    color:white;
    text-decoration: none;
    border-radius:15px;
}

li {
    float:left;
}

li img a {
    display:block;
}

.test {
    float:right;
}

body {
    background-color:#3f99a5;
font-family:sans-serif;
}

header h1 {
    opacity:1;
    color:white;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;

}

#jumbotron {
    background:url(./11823-ProjectEchelon-34.jpg) center center no-repeat; background-size:cover;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:90vh;
}

#homeContent {
    color:white;
    background-color:#33989e;
    text-align: center;
    padding:15px;
    border-radius: 20;
}

footer {
    border-top:solid 1px black;
    padding:2rem 2rem 4rem;
    margin:1rem 1rem;
    text-align: center;
}

#contactInfo {
    text-align: center;
}

@media (max-width: 549px) {
    .hidden--mobile {
        display:none !important;
    }

    nav {
        display:flex;
        align-items:center;
        flex-direction:column;
    }

    nav > i {
        padding:1rem;
        font-size:2em;
    }

    nav > ul {
        display:flex;
        align-items: center;
        flex-direction: column;
        padding: 0 0;
    }

    nav > ul > li {
        padding: 0.5rem;
        list-style-type: none;
    }
}


@media (min-width:550px) {
    nav > ul {
        display:flex;
        justify-content: space-evenly;
        padding:0 0;
        margin-bottom: 5px;
    }

    nav > ul > li > a{
        display:inline-block;
        text-decoration:none;
        padding:0.5rem 0.5rem;
        border-radius:25px;
        color:white;
    }

    nav > ul > li > a:hover {
        background-color: #cbe3e3;
        color:black;
    }

    nav > .fa-bars {
        display:none;
    }


}
